/* CONTAINS EVERYTHING */

body {
  /* background-color: red; */
}

.container {
  align-content: flex-start;
  color: rgb(115, 123, 136);
  display: flex;
  flex-flow: row;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  position: relative;
  transition: all 0.10s linear;
  width: 100vw;
}

::placeholder {
  color: #b9bfc4;
}

button:hover {
  filter: brightness(80%);
}

/* SHOW LEFT SIDE BAR */
.show-side-bar {
  background-color: transparent;
  cursor: pointer;
  height: 4rem;
  position: absolute;
  width: 4rem;
  z-index: 5;
}

.show-side-bar:hover {
  width: 10rem;
  height: 100%;
}

.show-side-bar:hover ~ .side-bar{
  display: flex;
}

/* LEFT SIDE BAR */

.side-bar {
  background-color: #364051;
  display: none;
  flex-flow: column;
  min-width: 10rem;
  width: 10rem;
}

.side-bar button {
  color: #8f9aad;
  font-size: 0.7rem;
  padding: 0.8rem 0.5rem;
  text-align: left;
  text-indent: 2rem;
  width: 100%;
}

.side-bar button:hover {
  filter: brightness(100%);
  background-color: #31394a;
  border-left: 0.05rem solid #29b0fa;
  color: #fff;
}

/* Side Bar SECTIONS */

.l-aside {
  color: #8f9aad;
  border-top: 0.2rem ridge #2f384a;
  font-size: 0.7rem;
  height: auto;
  padding: 1rem 0;
  position: relative;
}

h5 {
  font-size: 0.5rem;
  margin: 0.5rem 0.8rem;
}

/* Profile */

.profile-photo {
  margin: 1rem auto;
  text-align: center;
}

/* photo */

.profile-photo aside {
  background: url(images/ezgif.com-crop.jpg) no-repeat 20% 0%/140%;
  border-radius: 50%;
  margin: 0.5rem auto;
  height: 5rem;
  width: 5rem;
}

.profile-photo button {
  margin: 0 auto;
  text-indent: 0;
  padding: 0;
  background: url(images/chevron-arrow-down.svg) no-repeat 100% 50%/10%;
}

.profile-photo button:hover {
  background: url(images/chevron-arrow-down-white.svg) no-repeat 100% 50%/10%;
  border: 0;
}

/* Button Icons */

.home {
  background: url(images/015-house.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.home:hover {
  background: url(images/015-house-white.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.jobs {
  background: url(images/012-briefcase.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.jobs:hover {
  background: url(images/012-briefcase-white.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.resumes {
  background: url(images/016-list.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.resumes:hover {
  background: url(images/016-list-white.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.tasks {
  background: url(images/014-task.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.tasks:hover {
  background: url(images/014-task-white.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.calendar {
  background: url(images/006-calendar.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.calendar:hover {
  background: url(images/006-calendar-white.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.users {
  background: url(images/multiple-users-silhouette.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.users:hover {
  background: url(images/multiple-users-silhouette-white.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.locations {
  background: url(images/025-placeholder.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.locations:hover {
  background: url(images/025-placeholder-white.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.workflows {
  background: url(images/007-shuffle.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.workflows:hover {
  background: url(images/007-shuffle-white.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.job-boards {
  background: url(images/005-panel.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.job-boards:hover {
  background: url(images/005-panel-white.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.social {
  background: url(images/004-internet.svg) no-repeat 0.8rem 0.6rem/1rem;
}

.social:hover {
  background: url(images/004-internet-white.svg) no-repeat 0.8rem 0.6rem/1rem;
}

/* ADMIN CHECKBOX BUTTONS */

.check-container {
  display: block;
  position: relative;
  margin: 1rem 0 0 0.8rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-indent: 1.3rem;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 0;
  height: 0.7rem;
  width: 0.7rem;
}

.yellow {
  background-color: #f2e70c;
}

.blue {
  background-color: #29b0fa;
}

.red {
  background-color: #ee145e;
}

.green {
  background-color: #00af8b;
}

.check-container:hover input~.checkmark {
  filter: brightness(50%);
}

.check-container input:checked~.checkmark {
  filter: brightness(130%);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked~.checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: 0.2rem;
  top: 0.062rem;
  width: 0.3rem;
  height: 0.5rem;
  border: solid #364051;
  border-width: 0 0.1rem 0.1rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* MAIN PAGE CONTENT */

.page {
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  min-width: 80%;
  width: 100%;
}

/* HEADER / NAV / TITLE */

.page-header {
  align-self: flex-end;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  min-height: 13rem;
  height: auto;
  width: 100%;
}

/* HEADER NAVIGATION */

.header-nav {
  align-items: flex-end;
  border-bottom: 0.09rem solid rgba(137, 140, 148, 0.235);
  display: flex;
  width: 100%;
}

/* all nav buttons in header */

.header-nav button {
  border-left: 0.09rem solid rgba(137, 140, 148, 0.235);
  cursor: pointer;
  flex: 0 1;
  min-height: 4rem;
  height: 4rem;
  min-width: 4rem;
  width: 4rem;
}

.header-nav button:hover {
  filter: brightness(100%);
  background-color: #129AF9;
}

/* TODO: Update Burger Button with Left Chevron */
/* Burger Nav Button */

.side-bar-burger {
  background: url(images/026-menu-1.svg) no-repeat center/1rem;
  border-left: 0;
  border-right: 0.09rem solid rgba(137, 140, 148, 0.235);
}

.side-bar-burger:hover {
  background: url(images/026-menu-1-white.svg) no-repeat center/1rem;
}

.header-nav .left-arrow {
  height: 1.5rem;
  width: 0.8rem;
}

/* Profile Button */

.profile-btn {
  background: url(images/018-user.svg) no-repeat center/1.2rem;
}

.profile-btn:hover {
  background: url(images/018-user-white.svg) no-repeat center/1.2rem;
}

/* Calendar Button */

.calendar-btn {
  background: url(images/006-calendar.svg) no-repeat center/1rem;
}

.calendar-btn:hover {
  background: url(images/006-calendar-white.svg) no-repeat center/1rem;
}

/* Show All Button */

.show-all-btn {
  background: url(images/023-menu.svg) no-repeat center/1rem;
}

.show-all-btn:hover {
  background: url(images/023-menu-white.svg) no-repeat center/1rem;
}

/* search bar */

.search-bar {
  background: #fff url(images/009-search.svg) no-repeat;
  border: 0;
  height: 1.7rem;
  flex: 1 0;
  margin: 0 1rem 1rem 1rem;
  outline: 0;
  min-width: 2rem;
  width: 100%;
  text-indent: 1.6rem;
}

label#search:hover {
  cursor: initial;
  background-color: #fff;
}

/* HEADER TITLE */

.header-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.8rem;
}

.header-title p {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.header-title a {
  color: #68C0F5;
  text-decoration: none;
}

/* HEADER TITLE - NAV TOOLS */

.tools-nav {
  align-items: center;
  display: flex;
  margin: 1rem 0.5rem 1rem 0;
  width: auto;
}

.tools-nav button {
  border: 0.09rem solid rgba(137, 140, 148, 0.235);
  border-radius: 5rem;
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
}

.tools-nav button svg {
  fill: #898C94;
  height: 0.8rem;
  width: 0.9rem;
}

/* TODO: Make open button glow when hover */
/* open button */

.tools-nav button:first-of-type {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0 0.4rem;
  width: 5rem;
}

.tools-nav button div {
  background-color: #7BBB31;
  border-radius: 50%;
  border: 0.09rem solid rgba(137, 140, 148, 0.235);
  height: 0.8rem;
  width: 0.8rem;
}

.tools-nav button:hover {
  background-color: #FAF9F7;
}

/* MAIN CONTENT NAV TABS */

.header-tabs {
  align-self: flex-start;
  display: none;
  justify-content: space-between;
  margin-left: 1rem;
  position: relative;
  max-width: 75%;
  width: 100%;
}

.header-tabs li {
  border-bottom: 0.2rem solid transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 1rem 0 0 0.3rem;
  padding-bottom: 1rem;
}

.header-tabs li:first-of-type {
  margin-left: 1rem;
}

.header-tabs li:hover {
  border-bottom: 0.2rem solid cornflowerblue;
  filter: brightness(110%);
}


/* HEADER TABS -- CONDENSED */

/* TODO: make input selector for tabs */
.header-tabs-condensed {
  background-color: #fff;
  border-radius: 0.4rem 0.4rem 0 0;
  border-top: 0.05rem solid #8f9aad;
  border-right: 0.05rem solid #8f9aad;
  border-left: 0.05rem solid #8f9aad;
  color: #2f384a;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 0 0 2rem;
  padding: 0.4rem 0;
  text-align: center;
  width: 4rem;
  height: 2rem;
  z-index: 7;
}

.header-tabs-condensed:hover {
  
}

.header-tabs-condensed:hover ~ .header-tabs {
  background-color: #EBF0F5;
  border: 0.05rem solid #8f9aad;
  color: #2F3848;
  display: flex;
  flex-flow: column;
  margin: 17.5rem 0 0 2rem;
  padding: 1rem;
  position: absolute;
  text-align: left;
  width: 7rem;
  z-index: 6;
}

.header-tabs-condensed:hover ~ .header-tabs ul {
  width: 100px;
}

.header-tabs-condensed:hover ~ .header-tabs li {
  margin: 0;
}

/* MAIN CONTENT BODY */

.page-body {
  align-content: flex-start;
  background-color: #EAF0F5;
  border-top: 0.09rem solid rgba(137, 140, 148, 0.235);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* SHOW DATA GRAPHS BUTTON */

.show-more {
  align-items: center;
  display: flex;
  justify-content: center;
  order: 1;
  height: 3rem;
  padding: 0 2rem;
  width: 100%;
}

.show-more button {
  border: 0.09rem solid rgba(137, 140, 148, 0.235);
  border-radius: 50%;
  margin: 0 0.2rem;
  height: 1.5rem;
  width: 3rem;
}

/* REMOVE DATA GRAPH */

.show-more-data {
  background: rgb(250, 249, 247) url(images/chevron-arrow-up.png) no-repeat 50% 50%/40% 40%;
}

.show-more:active~.data-graphic {
  display: none;
}

.show-more-data:active {
  background: rgb(250, 249, 247) url(images/chevron-arrow-down.png) no-repeat 50% 50%/40% 40%;
}

hr {
  background-color: #b9bfc4;
  border: 0;
  height: 0.064rem;
  width: 100%;
}

/* DATA GRAPHS */

/* Graphs Container */

.data-graphic {
  align-items: flex-end;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  order: 0;
  position: relative;
  width: 100%;
}

/* Individual Graph containers */

.data-graphic aside {
  align-items: center; 
  /* background-color: white; */
  display: flex;
  flex-flow: column;
  margin: 1rem 2rem 2rem 2rem;
  /* position: relative; */
  /* min-width: 10rem; */
  /* max-width: 50%; */
  /* min-width: 50%; */
}
/* TODO: Add Pie Graph SVGs */
/* Pie Graphs */

.pie-graph {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* max-width: 20rem; */
  width: 100%;
}

.pie-graph-btn {
  margin: 3rem 0 0 0;
}

.pie-graph div {
  align-items: center;
  background-color: #8f9aad64;
  border-radius: 50%;
  display: flex;
  height: 7.8rem;
  justify-content: center;
  margin: 0.5rem;
  width: 7.8rem;
  transition: all 0.25s linear;
}

.pie-graph section {
  align-items: center;
  background-color: #EAF0F5;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 7rem;
  justify-content: center;
  text-align: center;
  width: 7rem;
}

.pie-graph h4 {
  color: #2f384a;
  font-size: 1.8rem;
  margin: 0 0 0.2rem 0;
}

.pie-graph p {
  font-size: 0.5rem;
  font-weight: 700;
}

/* TODO: Make Bar Graph Respnsive at mobile scale */

/* .bar-graph-container {
  transform: rotate(90deg);
}

.day-horizontal p{
  transform: rotate(-90deg);
}

.num-vertical p {
  transform: rotate(-90deg);
} */


/* Bar Graph */

.bar-graph {
  display: flex;
  flex-flow: row;
  font-size: 0.6rem;
  justify-content: center;
  text-align: right;
  position: relative;
  min-width: 10rem;
  width: 100%;
}

/* Bar Graph Columns */

.bar-graph div {
  background-color: #b9bfc43f;
  border-radius: 0.1rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 10rem;
  margin: 0 0 0.5rem 0.8rem;
  min-width: 1rem;
  position: relative;
  transition: all 0.15s linear;
}

.bar-graph div:hover {
  filter: brightness(85%);
}

/* Bar Graph Column Fill */

.bar-graph section {
  background-color: #45b9c1;
  border-radius: 0.1rem;
  cursor: pointer;
  margin: 0 auto;
  order: 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 10;
}

.bar-graph div:hover ~ .popup {
  display: block;
}

.bar-graph .bar-container {
  position: relative;
}

/* POP UP -- Bar Columns */

.popup {
  background-color: #364051;
  border-radius: 0.2rem;
  bottom: 8rem;
  color: #fff;
  display: none;
  height: 3rem;
  right: -4.5rem;
  order: 1;
  padding: 0.5rem 0;
  position: absolute;
  text-align: center;
  width: 10rem;
  z-index: 1000 !important;
}
.popup .applicant-num{
  color: #00af8b;
}
.popup .interview-num{
  color: #129AF9;
}

.bottom-arrow {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 2rem;
  left: 4.3rem;
  background-color: #364051;
  transform: rotate(45deg);
  z-index: -1;
}

/* Individual heights for popup window */
.p1 {bottom: 2.2rem;}
.p2 {bottom: 6.2rem;}
.p3 {bottom: 7.2rem;}
.p4 {bottom: 8.8rem;}
.p5 {bottom: 5.2rem;}
.p6 {bottom: 6.2rem;}
.p7 {bottom: 4.2rem;}
.p8 {bottom: 2.2rem;}
.p9 {bottom: 8.8rem;}
.p10 {bottom: 9.8rem;}
.p11 {bottom: 7.2rem;}
.p12 {bottom: 5.2rem;}
.p13 {bottom: 4.2rem;}
.p14 {bottom: 3.2rem;}

/* Bar Graph Amounts */

.num-vertical {
  background-color: transparent !important;
  color: #2f384a;
  justify-content: space-between !important;
  margin: 0 !important;
}

/* Bar Graph Days */

.day-horizontal {
  background-color: transparent;
  color: #2f384a;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  height: 1rem;
  margin: 0 0 1rem 1.7rem;
}

.day-horizontal p {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 0.635rem;
}

/* Bar Graph Levels */

.col1 {
  height: 10%;
}
.col2 {
  height: 50%;
}
.col3 {
  height: 60%;
}
.col4 {
  height: 75%;
}
.col5 {
  height: 40%;
}
.col6 {
  height: 50%;
}
.col7 {
  height: 30%;
}
.col8 {
  height: 10%;
}
.col9 {
  height: 75%;
}
.col10 {
  height: 85%;
}
.col11 {
  height: 60%;
}
.col12 {
  height: 40%;
}
.col13 {
  height: 30%;
}
.col14 {
  height: 20%;
}

/* graph buttons */

.data-graphic button {
  background-color: #FAF9F7;
  border: 0.09rem solid rgba(137, 140, 148, 0.235);
  border-radius: 2rem;
  font-size: 0.6rem;
  height: 1.5rem;
  padding: 0 1rem;
  width: auto;
}

/* BOTTOM HALF OF PAGE */

.bottom-half-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  order: 3;
  width: 100%;
}

/* !ARTICLE INFORMATION! */

.job-summary {
  background-color: #FAF9F7;
  box-shadow: 0 2px 3px rgb(208, 213, 218);
  border-radius: 0.2rem;
  flex: 1;
  max-height: 50rem;
  width: 100%;
  min-width: 50%;
  order: 2;
  padding: 0 2rem 2rem 2rem;
  position: relative;
}

/* Job Description background */

.job-summary div {
  background-color: #64738A;
  position: absolute;
  top: 0;
  left: 0;
  height: 4.3rem;
  width: 100%;
  z-index: 0;
}

/* Job Key/Values */

.job-summary section {
  align-items: flex-start;
  display: flex;
  font-size: 0.7rem;
  padding: 1.4rem 0;
  width: 100%;
}

/* job headers */

.job-summary h3 {
  min-width: 9rem;
}

/* job info */

.job-summary p {
  font-size: 0.8rem;
  max-height: 5rem;
  overflow-y: scroll;
}

/* job description header */

.sum-header h3 {
  color: #fff;
  margin: 0.4rem 0;
  z-index: 1;
}

/* JOB EDIT BUTTON */

.sum-header .edit-btn {
  background: #7c8ca6 url(images/017-feather-and-ink-bottle-white.svg) no-repeat 13% 40%/20%;
  border-radius: 0.2rem;
  color: #fff;
  display: flex;
  height: 1.5rem;
  margin: auto 0;
  text-indent: 1.5rem;
  width: 4rem;
  z-index: 2;
}

/* SHARE BUTTON */
.share-btn {
  background: #7c8ca6 url(images/024-share-white.svg) no-repeat center/1.2rem;
  border-radius: 0.2rem;
  color: #fff;
  display: flex;
  height: 2.3rem;
  margin: -1% 75%;
  position: absolute;
  width: 2.3rem;
  z-index: 2;
}
/* HIRING LEAD PICTURE */

.sum-hiring-lead aside {
  background: url(images/ezgif.com-crop.jpg) no-repeat 20% 0%/140%;
  border-radius: 50%;
  margin: -0.5rem 0.4rem auto 0;
  height: 2rem;
  width: 2rem;
}

/* FOOTER */

.page-footer-container {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  height: auto;
  justify-content: center;
  margin: 0.5rem auto 2rem auto;
  padding: 0 0.5rem;
  order: 3;
  width: 100%;
}

.page-footer-container button {
  color: #fff;
}

/* MEDIA BUTTONS */

.media-btns {
  display: flex;
  flex-flow: column;
  font-size: 0.8rem;
  justify-content: space-between;
  height: 11rem;
  margin: 0 auto;
  max-width: 20rem;
  min-width: 20rem;
}

.media-btns button {
  border-radius: 0.1rem;
  height: 2.8rem;
  width: 100%;
}

/* Facebook */

.facebook {
  background: #475993 url(images/facebook-logo.svg) no-repeat 0.8rem 1rem/1rem;
}

/* Twitter */

.twitter {
  background: #49A9E9 url(images/013-twitter.svg) no-repeat 0.8rem 1rem/1rem;
}

/* LinkedIn */

.linkedin {
  background: #3680B7 url(images/010-linkedin.svg) no-repeat 0.8rem 1rem/1rem;
}

/* JOB INPUTS */

.page-footer-container aside {
  border-bottom: 0.09rem solid rgba(137, 140, 148, 0.235);
  margin: 0 auto;
  max-width: 20rem;
  min-width: 18rem;
  padding: 1.4rem 0.5rem;
}

/* icons for link to, use widget, upload resume */
.r-aside img {
  width: 0.9rem;
}

/* body text for link to, use widget, upload resume */
.r-aside p {
  font-size: 0.8rem;
  margin: 1rem 0;
}

/* input style for link to, use widget, upload reusme */
.r-aside input {
  border: 0;
  font-size: 0.8rem;
  height: 2rem;
  text-indent: 0.4rem;
  width: 80%;
}

/* button style for link to, use widget, upload reusme */
.r-aside button {
  background-color: #3db4be;
  height: 2rem;
  width: 20%;
}

.upload-resume input {
  width: 100%;
}

/** DATA-GRAPHIC DROPDOWN **/
/* contains the graphic content and checkbox input */
.drop-down-graph-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem 0;
  width: 100%;
}

/* label containing the content, input, and replacement checkbox styling*/
.show-more-container {
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;
  user-select: none;
  width: 100%;
}

/* hidden original input */
.show-more-container input {
  position: relative;
  opacity: 0;
}

/* new checkbox style */
.show-more-checkmark {
  background: #fff url(images/chevron-arrow-down.png) no-repeat 49% 48%/43% 43%;
  border-radius: 50%;
  display: flex;
  height: 1.2rem;
  padding: 0 0.5rem;
  width: 1.2rem;
  z-index: 5;
}
.show-more-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* horizontal rule */
.line {
  border-bottom: 0.06rem solid #8f9aad;
  margin: 0.6rem auto;
  height: 0.1rem;
  position: absolute;
  width: 94%;
  z-index: 4;
}

.show-more-container input:hover ~ .show-more-checkmark {
  filter: brightness(80%);
}

.show-more-container input:checked ~ .show-more-checkmark {
  background: #fff url(images/chevron-arrow-up.png) no-repeat 49.5% 55%/43% 43%;
  border-radius: 50%;
  margin: 0 0 0 1.05rem;
  width: 1.2rem;
  height: 1.2rem;
}

/* display data-graphic content on checked */
.show-more-container input:checked ~ .data-graphic {
  display: flex;
}

/* move horzontal rule to bottom to follow checkbox button */
.show-more-container input:checked ~ .show-more-checkmark ~ .line {
  bottom: 0;
}

@media only screen and (min-width: 400px) {
  .page-footer-container aside {
    padding: 1.4rem 0;
  }
  .job-summary {
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 500px){
  .share-btn {
    display: none;
  }
  .header-tabs-condensed {
    display: none;
  }
  .header-tabs {
    display: flex;
    justify-content: space-around;
    padding-right: 1rem;
    max-width: 90%;
    min-width: 32rem;
  }
}

@media only screen and (min-width: 650px) {
  .job-summary {
    margin: 0.5rem 2rem 2rem 2rem;
    min-width: 55%;
    max-width: 85%;
  }
  .show-side-bar {
    display: none;
  }
  .side-bar {
    display: flex;
  }
  
}

@media only screen and (min-width: 801px) {
  .header-tabs-condensed {
    display: none;
  }
  .header-tabs {
    display: flex;
  }
}

@media only screen and (min-width: 1145px) {
  .show-more-container input:checked~.data-graphic {
    display: none;
  }
  .data-graphic {
    display: flex;
  }
  .show-more-checkmark {
    background: #fff url(images/chevron-arrow-up.png) no-repeat 49.5% 55%/43% 43%;
  }
  .show-more-container input:checked~.show-more-checkmark {
    background: #fff url(images/chevron-arrow-down.png) no-repeat 49% 48%/43% 43%;
    border-radius: 50%;
    margin: 0 0 0 1.05rem;
    width: 1.2rem;
    height: 1.2rem;
  }
  .line {
    bottom: 0;
  }
}