/**  CONTAINS EVERYTHING **/

.container {
  align-content: flex-start;
  color: rgb(115, 123, 136);
  display: flex;
  flex-flow: row;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  position: relative;
  transition: all 0.10s linear;
  width: 100vw;
}

::placeholder {
  color: #b9bfc4;
}

button:hover {
  filter: brightness(80%);
}

/** SHOW LEFT SIDE BAR **/

/* SHOW LEFT SIDE BAR -- HOVER */
.show-side-bar {
  background-color: transparent;
  cursor: pointer;
  height: 4rem;
  position: absolute;
  width: 4rem;
  z-index: 5;
}

.show-side-bar:hover {
  width: 10rem;
  height: 100%;
}

.show-side-bar:hover ~ .side-bar{
  display: flex;
}

/** LEFT SIDE BAR **/

.side-bar {
  background-color: #364051;
  display: none;
  flex-flow: column;
  min-width: 10rem;
  width: 10rem;
}

/* LEFT SIDE BAR -- Buttons */

.side-bar button {
  color: #8f9aad;
  font-size: 0.7rem;
  padding: 0.8rem 0.5rem;
  text-align: left;
  text-indent: 2rem;
  width: 100%;
}

.side-bar button:hover {
  filter: brightness(100%);
  background-color: #31394a;
  border-left: 0.05rem solid #29b0fa;
  color: #fff;
}

/* LEFT SIDE BAR -- Sections */

.left-side-bar {
  color: #8f9aad;
  border-top: 0.2rem ridge #2f384a;
  font-size: 0.7rem;
  height: auto;
  padding: 1rem 0;
  position: relative;
}

h5 {
  font-size: 0.5rem;
  margin: 0.5rem 0.8rem;
}

/* LEFT SIDE BAR -- PROFILE*/

.profile-photo {
  margin: 1rem auto;
  text-align: center;
}

/* LEFT SIDE BAR -- PROFILE -- Photo */

.profile-photo aside {
  background: url(images/ezgif.com-crop.jpg) no-repeat 20% 0%/140%;
  border-radius: 50%;
  margin: 0.5rem auto;
  height: 5rem;
  width: 5rem;
}

/* LEFT SIDE BAR -- PROFILE -- Button / Hover */

.profile-photo button {
  margin: 0 auto;
  text-indent: 0;
  padding: 0;
  background: url(images/chevron-arrow-down.svg) no-repeat 100% 50%/10%;
}

.profile-photo button:hover {
  background: url(images/chevron-arrow-down-white.svg) no-repeat 100% 50%/10%;
  border: 0;
}

/* LEFT SIDE BAR -- CUSTOM ICONS -- HOME */

.home {background: url(images/015-house.svg) no-repeat 0.8rem 0.6rem/1rem;}
.home:hover {background: url(images/015-house-white.svg) no-repeat 0.8rem 0.6rem/1rem;}

/* LEFT SIDE BAR -- CUSTOM ICONS -- JOBS */

.jobs {background: url(images/012-briefcase.svg) no-repeat 0.8rem 0.6rem/1rem;}
.jobs:hover {background: url(images/012-briefcase-white.svg) no-repeat 0.8rem 0.6rem/1rem;}

/* LEFT SIDE BAR -- CUSTOM ICONS -- RESUMES */

.resumes {background: url(images/016-list.svg) no-repeat 0.8rem 0.6rem/1rem;}
.resumes:hover {background: url(images/016-list-white.svg) no-repeat 0.8rem 0.6rem/1rem;}

/* LEFT SIDE BAR -- CUSTOM ICONS -- TASKS */

.tasks {background: url(images/014-task.svg) no-repeat 0.8rem 0.6rem/1rem;}
.tasks:hover {background: url(images/014-task-white.svg) no-repeat 0.8rem 0.6rem/1rem;}

/* LEFT SIDE BAR -- CUSTOM ICONS -- CALENDAR */

.calendar {background: url(images/006-calendar.svg) no-repeat 0.8rem 0.6rem/1rem;}
.calendar:hover {background: url(images/006-calendar-white.svg) no-repeat 0.8rem 0.6rem/1rem;}

/* LEFT SIDE BAR -- CUSTOM ICONS -- USERS */

.users {background: url(images/multiple-users-silhouette.svg) no-repeat 0.8rem 0.6rem/1rem;}
.users:hover {background: url(images/multiple-users-silhouette-white.svg) no-repeat 0.8rem 0.6rem/1rem;}

/* LEFT SIDE BAR -- CUSTOM ICONS -- LOCATIONS */

.locations {background: url(images/025-placeholder.svg) no-repeat 0.8rem 0.6rem/1rem;}
.locations:hover {background: url(images/025-placeholder-white.svg) no-repeat 0.8rem 0.6rem/1rem;}

/* LEFT SIDE BAR -- CUSTOM ICONS -- WORKFLOWS */

.workflows {background: url(images/007-shuffle.svg) no-repeat 0.8rem 0.6rem/1rem;}
.workflows:hover {background: url(images/007-shuffle-white.svg) no-repeat 0.8rem 0.6rem/1rem;}

/* LEFT SIDE BAR -- CUSTOM ICONS -- JOB BOARD */

.job-boards {background: url(images/005-panel.svg) no-repeat 0.8rem 0.6rem/1rem;}
.job-boards:hover {background: url(images/005-panel-white.svg) no-repeat 0.8rem 0.6rem/1rem;}

/* LEFT SIDE BAR -- CUSTOM ICONS -- SOCIAL */

.social {background: url(images/004-internet.svg) no-repeat 0.8rem 0.6rem/1rem;}
.social:hover {background: url(images/004-internet-white.svg) no-repeat 0.8rem 0.6rem/1rem;}

/* LEFT SIDE BAR -- CHECKBOX CONTAINER */

.check-container {
  display: block;
  position: relative;
  margin: 1rem 0 0 0.8rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-indent: 1.3rem;
}

/* LEFT SIDE BAR -- CHECKBOX BUTTONS -- HIDDEN CHECKBOX INPUT */

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* LEFT SIDE BAR -- CHECKBOX BUTTONS -- CUSTOM CHECKMARK */

.checkmark {
  position: absolute;
  left: 0;
  height: 0.7rem;
  width: 0.7rem;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.2rem;
  top: 0.062rem;
  width: 0.3rem;
  height: 0.5rem;
  border: solid #364051;
  border-width: 0 0.1rem 0.1rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* LEFT SIDE BAR -- CHECKBOX BUTTONS -- CHECKBOX COLORS */

.yellow {background-color: #f2e70c;}
.blue {background-color: #29b0fa;}
.red {background-color: #ee145e;}
.green {background-color: #00af8b;}

/* LEFT SIDE BAR -- CHECKBOX BUTTONS -- CHECKED / HOVER STATES */

.check-container:hover input~.checkmark {
  filter: brightness(50%);
}

.check-container input:checked~.checkmark {
  filter: brightness(130%);
}

.check-container input:checked~.checkmark:after {
  display: block;
}

/** MAIN PAGE CONTENT **/

.page {
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  min-width: 80%;
  width: 100%;
}

/** MAIN PAGE -- HEADER **/

.page-header {
  align-content: flex-end;
  align-self: flex-end;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  height: auto;
  min-height: 13rem;
  width: 100%;
}

/** MAIN PAGE -- HEADER -- NAVIGATION **/

.header-nav {
  align-items: flex-end;
  border-bottom: 0.09rem solid rgba(137, 140, 148, 0.235);
  display: flex;
  width: 100%;
}

/* MAIN PAGE -- HEADER -- NAVIGATION -- BUTTONS */

.header-nav button {
  border-left: 0.09rem solid rgba(137, 140, 148, 0.235);
  cursor: pointer;
  flex: 0 1;
  height: 4rem;
  min-height: 4rem;
  min-width: 4rem;
  width: 4rem;
}

.header-nav button:hover {
  filter: brightness(100%);
  background-color: #129AF9;
}

/* MAIN PAGE -- HEADER -- NAVIGATION -- NAV BUTTONS -- BURGER NAV */

.side-bar-burger {
  background: url(images/026-menu-1.svg) no-repeat center/1rem;
  border-left: 0;
  border-right: 0.09rem solid rgba(137, 140, 148, 0.235);
}

.side-bar-burger:hover {
  background: url(images/026-menu-1-white.svg) no-repeat center/1rem;
}

.blue-arrow {
  display: none;
}

/* MAIN PAGE -- HEADER -- NAVIGATION -- NAV BUTTONS -- PROFILE */

.profile-btn {
  background: url(images/018-user.svg) no-repeat center/1.2rem;
}

.profile-btn:hover {
  background: url(images/018-user-white.svg) no-repeat center/1.2rem;
}

/* MAIN PAGE -- HEADER -- NAVIGATION -- NAV BUTTONS -- CALENDAR */

.calendar-btn {
  background: url(images/006-calendar.svg) no-repeat center/1rem;
}

.calendar-btn:hover {
  background: url(images/006-calendar-white.svg) no-repeat center/1rem;
}

/* MAIN PAGE -- HEADER -- NAVIGATION -- NAV BUTTONS -- SHOW ALL */

.show-all-btn {
  background: url(images/023-menu.svg) no-repeat center/1rem;
}

.show-all-btn:hover {
  background: url(images/023-menu-white.svg) no-repeat center/1rem;
}

/* MAIN PAGE -- HEADER -- NAVIGATION -- NAV BUTTONS -- SEARCH */

.search-bar {
  background: #fff url(images/search.svg) no-repeat;
  border: 0;
  height: 1.7rem;
  flex: 1 0;
  margin: 0 1rem 1rem 1rem;
  outline: 0;
  min-width: 2rem;
  width: 100%;
  text-indent: 1.6rem;
}

label#search:hover {
  cursor: initial;
  background-color: #fff;
}

/** MAIN PAGE -- HEADER -- TITLE **/

.header-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2rem;
}

.header-title p {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

/* MAIN PAGE -- HEADER -- TITLE -- SUBTEXT */

.header-title a {
  color: #68C0F5;
  text-decoration: none;
}

/* MAIN PAGE -- HEADER -- TITLE -- NAV TOOLS */

.tools-nav {
  align-items: center;
  display: flex;
  margin: 1rem 0.5rem 1.8rem 0;
  width: auto;
}

/* MAIN PAGE -- HEADER -- TITLE -- NAV TOOLS -- Buttons */

.tools-nav button {
  border: 0.09rem solid rgba(137, 140, 148, 0.235);
  border-radius: 5rem;
  margin-right: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

.tools-nav button svg {
  fill: #898C94;
  margin-top: 0.3rem;
  width: 1rem;
}

.tools-nav button:hover {
  filter: brightness(100%);
  background-color: #EBF0F5;
}

/* MAIN PAGE -- HEADER -- TITLE -- NAV TOOLS -- OPEN BUTTON */

.tools-nav button:first-of-type {
  align-items: center;
  color: rgb(96, 99, 105);
  display: flex;
  justify-content: space-around;
  padding: 0.1rem 0.4rem 0 0.4rem;
  width: 6rem;
}

.tools-nav button div {
  background-color: #7BBB31;
  border-radius: 50%;
  border: 0.09rem solid rgba(137, 140, 148, 0.235);
  height: 0.8rem;
  width: 0.8rem;
}

/* MAIN PAGE -- HEADER -- CONTAINER */

.header-tabs {
  align-self: flex-start;
  display: none;
  justify-content: space-between;
  margin-left: 2rem;
  max-width: 75%;
  position: relative;
  width: 100%;
}

/* MAIN PAGE -- HEADER -- TABS */

.header-tabs li {
  border-bottom: 0.2rem solid transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0 0 0.3rem;
  padding-bottom: 1rem;
}

.header-tabs li:hover {
  border-bottom: 0.2rem solid cornflowerblue;
  filter: brightness(110%);
}


/* MAIN PAGE -- HEADER -- TABS -- TABBED CONTAINER */

.header-tabs-container {
  display: none;
  position: relative;
}

/* MAIN PAGE -- HEADER -- TABS -- TABBED - CONTAINERS */

.header-tabs-container div {
  background-color: #fff;
  border-radius: 0.25rem 0.25rem 0 0;
  border-top: 0.05rem solid rgba(137, 140, 148, 0.235);
  border-right: 0.05rem solid rgba(137, 140, 148, 0.235);
  border-left: 0.05rem solid rgba(137, 140, 148, 0.235);
  bottom: 0;
  cursor: pointer;
  font-size: 0.8rem;
  max-height: 2rem;
  min-height: 1.5rem;
  margin: 0 0 0 2rem;
  padding: 0.4rem;
  position: absolute;
  text-align: right;
  width: auto;
}

.header-tabs-container div:hover {
  background-color: #68C0F5;
  color: #fff;
  z-index: 100;
}

/* MAIN PAGE -- HEADER -- TABS -- TABBED - CONTAINERS - CUSTOM POSITION */

.tab-summary {z-index: 10;}
.tab-applicants {left: 2rem; z-index: 9;}
.tab-jobboard {left: 5rem; z-index: 8;}
.tab-interviews {left: 7rem; z-index: 7;}
.tab-activity {left: 11rem; z-index: 6;}
.tab-broadcast {left: 12rem; z-index: 5;}
.tab-notifications {left: 13rem; z-index: 4;}

/* MAIN PAGE -- HEADER -- TABS -- CONDENSED */

.header-tabs-condensed {
  background: url(images/026-menu-1.svg) no-repeat center/1rem;
  border-radius: 0.25rem 0.25rem 0 0;
  border-top: 0.05rem solid rgba(137, 140, 148, 0.235);
  border-right: 0.05rem solid rgba(137, 140, 148, 0.235);
  border-left: 0.05rem solid rgba(137, 140, 148, 0.235);
  color: #2f384a;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 0 0 2rem;
  padding: 0.4rem 0;
  text-align: center;
  width: 3rem;
  height: 2rem;
  z-index: 7;
}

/* MAIN PAGE -- HEADER -- TABS -- CONDENSED  - HOVER REVEAL TABS MENU*/

.header-tabs-condensed:hover ~ .header-tabs {
  background-color: #EBF0F5;
  border: 0.05rem solid rgba(137, 140, 148, 0.235);
  border-radius: 0.25rem;
  display: flex;
  flex-flow: column;
  margin: 17rem 0 0 5rem;
  padding: 1rem;
  position: absolute;
  text-align: left;
  width: 7rem;
  z-index: 6;
}

.header-tabs-condensed:hover ~ .header-tabs ul {
  width: 100px;
}

.header-tabs-condensed:hover ~ .header-tabs li {
  margin: 0;
} 

/** MAIN CONTENT BODY **/

.page-body {
  align-content: flex-start;
  background-color: #EAF0F5;
  border-top: 0.09rem solid rgba(137, 140, 148, 0.235);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/** MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- DROPDOWN **/

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPHS -- CONTAINER FOR ALL GRAPHS */

.drop-down-graph-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- LABEL CONTAINER */

.show-more-container {
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;
  user-select: none;
  width: 100%;
}

/* hidden original input */
.show-more-container input {
  position: relative;
  opacity: 0;
}

/* new checkbox style */
.show-more-checkmark {
  background: #fff url(images/chevron-arrow-down.png) no-repeat 54% 55%/43%;
  border-radius: 50%;
  border: 0.09rem solid rgba(137, 140, 148, 0.235);
  display: flex;
  align-self: flex-end;
  height: 1.2rem;
  padding: 0 0.5rem;
  width: 1.2rem;
  z-index: 5;
}

.show-more-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Fake Horizontal Rule */
.line {
  border-bottom: 0.06rem solid #8f9aad;
  margin: 0.6rem auto;
  height: 0.1rem;
  position: absolute;
  width: 94%;
  z-index: 4;
}

.show-more-container input:hover ~ .show-more-checkmark {
  filter: brightness(80%);
}

.show-more-container input:checked ~ .show-more-checkmark {
  background: #fff url(images/chevron-arrow-up.png) no-repeat 49.5% 54%/43%;
  border-radius: 50%;
  display: flex;
  align-self: flex-end;
  margin: 0 0 0 1.05rem;
  width: 1.2rem;
  height: 1.2rem;
}

/* display data-graphic content on checked */
.show-more-container input:checked ~ .data-graphic {
  display: flex;
}

/* move horzontal rule to bottom to follow checkbox button */
.show-more-container input:checked ~ .show-more-checkmark ~ .line {
  bottom: 0;
}

.show-more-data {
  background: rgb(250, 249, 247) url(images/chevron-arrow-up.png) no-repeat 50% 50%/40%;
}

.show-more:active~.data-graphic {
  display: none;
}

.show-more-data:active {
  background: rgb(250, 249, 247) url(images/chevron-arrow-down.png) no-repeat 50% 50%/40%;
}

hr {
  background-color: #b9bfc4;
  border: 0;
  height: 0.064rem;
}

/** MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- DATA GRAPHS **/

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- DATA GRAPHS -- CONTAINER */

.data-graphic {
  align-items: flex-end;
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  order: 0;
  position: relative;
  max-width: 100rem;
  width: 100%;
}

/** KEYFRAMES FOR GRAPH ANIMATION **/

@keyframes progress {
  0% {
    stroke-dasharray: 0 300;
  }
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- DATA GRAPHS -- BUTTONS */

.data-graphic button {
  background-color: #FAF9F7;
  border: 0.09rem solid rgba(137, 140, 148, 0.235);
  border-radius: 2rem;
  font-size: 0.6rem;
  height: 1.5rem;
  padding: 0 1rem;
  width: auto;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- DATA GRAPHS -- INDIVIDUAL CONTAINERS */

.data-graphic aside {
  align-items: center; 
  display: flex;
  flex-flow: column;
  margin: 1rem 0.5rem 2rem 0.5rem;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- PIE GRAPHS */

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- PIE GRAPHS -- CONTAINER */

.pie-graph {
  background-color: #EBF0F5;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- PIE GRAPHS -- BUTTON */

.pie-graph-btn {
  margin: 1.5rem 0 0 0;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- PIE GRAPHS -- DATA */

.pie-graph section {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 7rem;
  justify-content: center;
  text-align: center;
  width: 7rem;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- PIE GRAPHS -- DATA -- NUMBER */

.pie-graph section h4 {
  margin: 0 0 0.3rem 0;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- PIE GRAPHS -- DATA -- TEXT */

.pie-graph section p {
  font-size: 0.8rem;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- PIE GRAPHS -- CIRCLE CONTAINERS */

.single-chart {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 8rem;
  min-width: 8rem;
  width: 10rem;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- PIE GRAPHS -- CIRCLE SVGs */

.single-chart svg {
  position: absolute;
  z-index: 0;
}

.single-chart svg:hover {
  filter: brightness(85%);
  transition: all 0.25s;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- PIE GRAPHS -- CIRCLE SVG --CONTAINERS */

.circular-chart {
  width: 10rem;
  height: 8.4rem;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- PIE GRAPHS -- SVG -- BACKGROUND CIRCLE */

.circle-bg {
  fill: none;
  stroke: #b1b5bd4b;
  stroke-width: 2.5;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- PIE GRAPHS -- SVG -- PRIMARY CIRCLE */

.circle {
  fill: none;
  stroke-width: 2.5;
  stroke-linecap: round;
  animation: progress 0.75s ease-out forwards;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- PIE GRAPHS -- SVG PRIMARY CIRCLE -- COLOR */

.green {stroke: #47b9ba;}
.blue {stroke: #17a0f5;}
.purple {stroke: #b06ab0;}



/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- BAR GRAPH */

.bar-graph-container {
  transform: scale(0.7);
  transition: all 0.15s linear;
} 

/*MAIN CONTENT BODY -- TOGGLE DATA GRAPH --  BAR GRAPH -- PARENT CONTAINER */

.bar-graph {
  display: flex;
  flex-flow: row;
  font-size: 0.6rem;
  justify-content: center;
  text-align: right;
  position: relative;
  min-width: 10rem;
  width: 100%;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- BAR GRAPH -- CONTAINERS */

.bar-graph .bar-container {
  position: relative;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- BAR GRAPH -- COLUMNS -- BACKGROUND */

.bar-graph div {
  background-color: #b9bfc43f;
  border-radius: 0.1rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 10rem;
  margin: 0 0 0.5rem 0.8rem;
  min-width: 1rem;
  position: relative;
  transition: all 0.15s linear;
}

.bar-graph div:hover {
  filter: brightness(85%);
}

/* Display POPUP */

.bar-graph div:hover ~ .popup {
  display: block;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- BAR GRAPH -- COLUMNS -- FILL */

.bar-graph section {
  background-color: #45b9c1;
  border-radius: 0.1rem;
  cursor: pointer;
  margin: 0 auto;
  order: 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 10;
}

.bar-svg {
  fill: none;
  stroke: #45b9c1;
  stroke-width: 30;
  animation: progress 0.75s ease-out forwards;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- BAR GRAPH -- COLUMNS -- AMOUNTS */

.num-vertical {
  background-color: transparent !important;
  color: #2f384a;
  justify-content: space-between !important;
  margin: 0 !important;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- BAR GRAPH -- COLUMNS -- DAYS */

.day-horizontal {
  background-color: transparent;
  color: #2f384a;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  height: 1rem;
  margin: 0 0 1rem 1.7rem;
}

.day-horizontal p {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 0.635rem;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- BAR GRAPH -- POP UP */

.popup {
  background-color: #364051;
  border-radius: 0.2rem;
  bottom: 8rem;
  color: #fff;
  display: none;
  height: 3rem;
  right: -4.5rem;
  order: 1;
  padding: 0.5rem 0;
  position: absolute;
  text-align: center;
  width: 10rem;
  z-index: 1000 !important;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- BAR GRAPH -- POP UP -- NUMBERS */

.popup .applicant-num{
  color: #00af8b;
}

.popup .interview-num{
  color: #129AF9;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- BAR GRAPH -- POP UP -- ARROW DIV */

.bottom-arrow {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 2rem;
  left: 4.3rem;
  background-color: #364051;
  transform: rotate(45deg);
  z-index: -1;
}

/* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- BAR GRAPH -- POP UP -- INDIVIDUAL DISPLAY HEIGHTS */

.p1 {bottom: 2.2rem;}
.p2 {bottom: 6.2rem;}
.p3 {bottom: 7.2rem;}
.p4 {bottom: 8.8rem;}
.p5 {bottom: 5.2rem;}
.p6 {bottom: 6.2rem;}
.p7 {bottom: 4.2rem;}
.p8 {bottom: 2.2rem;}
.p9 {bottom: 8.8rem;}
.p10 {bottom: 9.8rem;}
.p11 {bottom: 7.2rem;}
.p12 {bottom: 5.2rem;}
.p13 {bottom: 4.2rem;}
.p14 {bottom: 3.2rem;}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE */

.bottom-half-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  order: 3;
  width: 100%;
}

/** MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY **/

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY --  CONTAINER */

.job-summary {
  background-color: #FAF9F7;
  box-shadow: 0 2px 3px rgb(208, 213, 218);
  border-radius: 0.2rem;
  flex: 1;
  max-height: 50rem;
  min-width: 50%;
  order: 2;
  padding: 0 2rem 2rem 2rem;
  position: relative;
  width: 100%;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- DESCRIPTION BACKGROUND */

.job-summary div {
  background-color: #64738A;
  position: absolute;
  top: 0;
  left: 0;
  height: 4.3rem;
  width: 100%;
  z-index: 0;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- SECTIONS */

.job-summary section {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  font-size: 0.7rem;
  padding: 1.4rem 0;
  width: 100%;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- TITLES */

.job-summary h3 {
  margin: 0 0 0.4rem 0;
  min-width: 9rem;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- INFO TEXT */

.job-summary p {
  font-size: 0.8rem;
  max-height: 5.5rem;
  overflow-y: scroll;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- DESCRIPTION HEADER */

.sum-header {
  flex-flow: row !important;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- DESCRIPTION HEADER TITLE */

.sum-header h3 {
  color: #fff;
  margin: 0.4rem 0;
  z-index: 1;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- DESCRIPTION HEADER -- EDIT BUTTON */

.sum-header .edit-btn {
  background: #7c8ca6 url(images/017-feather-and-ink-bottle-white.svg) no-repeat 13% 40%/20%;
  border-radius: 0.2rem;
  color: #fff;
  display: flex;
  height: 1.5rem;
  margin: auto 0;
  text-indent: 1.8rem;
  width: 4rem;
  z-index: 2;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- DESCRIPTION HEADER -- SHARE BUTTON */

.share-btn {
  background: #7c8ca6 url(images/024-share-white.svg) no-repeat center/1.2rem;
  border-radius: 0.2rem;
  color: #fff;
  display: flex;
  height: 2.3rem;
  margin: -1% 75%;
  position: absolute;
  width: 2.3rem;
  z-index: 2;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- HIRING LEAD PICTURE */

.sum-hiring-lead aside {
  background: url(images/ezgif.com-crop.jpg) no-repeat 20% 0%/140%;
  border-radius: 50%;
  margin: -0.5rem 0.4rem auto 0;
  height: 2rem;
  width: 2rem;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER */

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- CONTAINER */

.page-footer-container {
  display: flex;
  flex-flow: row wrap;
  flex: 0.5 1;
  height: auto;
  justify-content: center;
  margin: 0.5rem auto 2rem auto;
  padding: 0 0.5rem;
  order: 3;
  width: 100%;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- CONTAINERS */

.page-footer-container aside {
  border-bottom: 0.09rem solid rgba(137, 140, 148, 0.235);
  max-width: 20rem;
  min-width: 18rem;
  padding: 1.4rem 0.5rem;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- ICONS */

.footer-aside img {
  width: 0.9rem;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- BODY TEXT */

.footer-aside p {
  font-size: 0.8rem;
  margin: 1rem 0;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- INPUTS */

.footer-aside input {
  border: 0;
  font-size: 0.8rem;
  height: 2rem;
  text-indent: 0.4rem;
  width: 80%;
}

/* Custom Input For Resume */

.upload-resume input {
  width: 100%;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- BUTTONS */

.footer-aside button {
  background-color: #3db4be;
  height: 2rem;
  width: 20%;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- BUTTON - TEXT COLOR */

.page-footer-container button {
  color: #fff;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- MEDIA BUTTONS -- CONTAINER */

.media-btns {
  display: flex;
  flex-flow: column;
  font-size: 0.8rem;
  justify-content: space-between;
  height: 11rem;
  margin: 0 auto;
  max-width: 20rem;
  min-width: 20rem;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- MEDIA BUTTONS -- BUTTONS */

.media-btns button {
  border-radius: 0.1rem;
  height: 2.8rem;
  width: 100%;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- MEDIA BUTTONS -- FACEBOOK */

.facebook {
  background: #475993 url(images/facebook-logo.svg) no-repeat 0.8rem 1rem/1rem;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- MEDIA BUTTONS -- TWITTER */

.twitter {
  background: #49A9E9 url(images/013-twitter.svg) no-repeat 0.8rem 1rem/1rem;
}

/* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- MEDIA BUTTONS -- LINKEDIN */

.linkedin {
  background: #3680B7 url(images/010-linkedin.svg) no-repeat 0.8rem 1rem/1rem;
}

/*** MEDIA QUERIES ***/

@media only screen and (min-width: 400px) {

  /* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- BAR GRAPH -- GROW! */

  .bar-graph-container {
    transform: scale(0.9);
  } 

  /* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER -- Update Padding to avoid Collision */
  
  .page-footer-container aside {
    padding: 1.4rem 0;
  }

  /* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- Update Margins to avoid collision */
  
  .job-summary {
    margin: 1rem auto;
  }

  /* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- Convert to Rows for Desktop View */
  
  .job-summary section {
    flex-flow: row;
  }

  /* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- HEADER TITLE -- Remove Bottom Spacing for Desktop View */
  
 .job-summary h3 {
    margin: 0;
  }
}

@media only screen and (min-width: 500px){

  /* MAIN CONTENT BODY -- TOGGLE DATA GRAPH -- BAR GRAPH -- GROW! */

  .bar-graph-container {
    transform: scale(1);
  } 

  /* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- HEADER TITLE -- Hide Share Button for Desktop View */
  
  .share-btn {
    display: none;
  }

  /* MAIN PAGE -- HEADER -- TABS -- Hide Condensed Header Tabs Navigation for Desktop View */
  
  .header-tabs-condensed {
    display: none;
  }

  /* MAIN PAGE -- HEADER -- TABS -- Reveal Containers for Midsize View */
  
  .header-tabs-container {
    display: flex;
  }
}

@media only screen and (min-width: 650px) {

  .bar-graph-container {
    transform: scale(1.1);
  } 

  /* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- FOOTER-- Update Margins for Midsize View */
  
  .page-footer-container {
    margin: 0.5rem 1.8rem 2rem 1.8rem;
  }

  /* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- Update Margins and Widths for Midsize View */
  
  .job-summary {
    margin: 0.5rem auto 2rem auto;
    min-width: 55%;
    max-width: 80%;
  }

  /* MAIN PAGE -- HEADER -- NAVIGATION -- NAV BUTTONS -- Hide Top Left Burger Nav -- which reveals left-side bar */
  
  .show-side-bar {
    display: none;
  }

  /* LEFT SIDE BAR -- Reveal */
  
  .side-bar {
    display: flex;
  }

  /* MAIN PAGE -- HEADER -- NAVIGATION -- NAV BUTTONS -- Show blue arrow next to Burger Nav to indicate Left Side Bar is Revealed */
  
  .blue-arrow {
    display: block;
  }
}

@media only screen and (min-width: 801px) {
  
  /* MAIN PAGE -- HEADER -- TABS -- Hide Header Tabs Containers for Full Desktop View */
  
  .header-tabs-container{
    display: none;
  }

  /* MAIN PAGE -- HEADER -- TABS -- Reveal Desktop Header Tabs */
  
  .header-tabs {
    display: flex;
  }
  
  /* MAIN CONTENT BODY -- BOTTOM HALF OF PAGE -- JOB SUMMARY -- Update Margins */
  
  .job-summary {
    margin: 0.5rem 2rem 2rem 2rem;
  }
}

@media only screen and (min-width: 1145px) {

  /* MAIN PAGE -- HEADER -- TABS -- Adjust max-width */
   
  .header-tabs {
    max-width: 65%;
  }

  /* 
    ADJUST CHECKBOX STATE FOR FULL DESKTOP VIEW
    FLIP ARROW BUTTONS AND DISPLAY STATES
  */

  /* Reveal Data Graphic at Full Desktop View */
  
  .data-graphic {
    display: flex;
  }

  /* Change Show More Button for Data Graphs - Checked State */
  
  .show-more-container input:checked~.data-graphic {
    display: none;
  }

  /* Flip Checkmark Image */
  
  .show-more-checkmark {
    background: #fff url(images/chevron-arrow-up.png) no-repeat 54.9% 55%/43%;
  }

  /* Flip Checkmark Image */
  
  .show-more-container input:checked~.show-more-checkmark {
    background: #fff url(images/chevron-arrow-down.png) no-repeat 54.9% 55%/43%;
  }

  /* Move Fake HR to Bottom */
  
  .line {
    bottom: 0;
  }
}